body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1024px;
}

.tick-cards {
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    margin: 20px auto;
}

.jumbotron {
    background-image: url("../Images/tan-hero-banner-min.jpg");
    background-size: cover;
}

#inkey-jumbo {
    background-image: url("../Images/inkey.jpg");
    background-size: cover;
    height:400px;
}

#inkey-row {
    display:block;
       
}


.inkey-question {
    max-width:100%!important;
}

#inkey-results-row {
    margin-top:50px;
    font-size:25px;
}

#inkey-button {
    margin-top: 50px;
}

#inkey-results {
    height: 100px;
}


.ink-buttons {
    margin-top: 50px;
}

.big-txt{
    width:100%;
}


#savFile{
    margin-left:130px;
}

.ink-answer {
    width: 70%;
    line-height: 34px;
    float: left;
}

.ink-ans-img {
    width: 22%;
    float:right;
    margin-right:3%;
}

#inkey-results-row {
    margin-top: 50px;
    font-size: 25px;
}



@media (max-width: 420px) {

    .ink-answer {
        width: 100%;
        line-height: 34px;
        float:left;
    }

    .ink-ans-img {
        width: 80%;
        margin-top:20px;
    }

    #inkey-results-row {
        display:inline-block;
        margin-top: 50px;
        font-size: 20px;
    }

        #inkey-results-row table {
            border-radius: 30px;
        }

        #inkey-results-row tr {
            margin-bottom: 10px;
        }


        #inkey-results-row td {
            border: 1px solid #C1C1C1;
        }
}