@model BePreferenceCentre.ViewModels.MailingListOptionsViewModel
@using BePreferenceCentre.ViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BE</h1>
    <h1>FOR</h1>
    <h1>BEAUTY</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (UserSubscribedtoListViewModel mlist in Model.MailingLists)
        {
            if (mlist.MailingList.ShowUser)
            {
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@mlist.MailingList.ImageURL" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@mlist.MailingList.ListName</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            @if (!mlist.Subscribed)
                            {
                                <a href="@Url.Action("SubscribeUser", new { listId = mlist.MailingList.ListId, currentlistId = Model.CurrentlySubscribedListId, email = @Model.Email })" class="btn btn-primary">Subscribe</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-danger">Un-Subscribe</a>
                            }

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>